In [17]:

import requests  
import pandas as pd
import numpy as np
import requests

In [18]:
# import chicago data and create dataframe
url = ('https://video.udacity-data.com/topher/2019/February/5c747ce1_chicago/chicago.csv')
x = requests.get(url)
open('chicago.csv','wb').write(x.content)
c_bike_share = pd.read_csv('chicago.csv')
# confirm
c_bike_share.shape

(300000, 9)

In [19]:
# import new york data and create dataframe
url = ('https://video.udacity-data.com/topher/2019/February/5c747d01_new-york-city/new-york-city.csv')
x = requests.get(url)
open('new-york-city.csv','wb').write(x.content)
nyc_bike_share = pd.read_csv('new-york-city.csv')
# confirm
nyc_bike_share.shape

(300000, 9)

In [20]:
# import washington DC data and create dataframe
url = ('https://video.udacity-data.com/topher/2019/February/5c747d10_washington/washington.csv')
x = requests.get(url)
open('washington.csv','wb').write(x.content)
w_bike_share = pd.read_csv('washington.csv')
# confirm
w_bike_share.shape

(300000, 7)

## inspect dataframe heads

In [21]:

c_bike_share['City'] ='Chicago'
c_bike_share.head(1)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,City
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,Chicago

In [22]:
#add city column
nyc_bike_share['City'] ='New York City'
nyc_bike_share.head(1)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,City
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0,New York City

In [23]:
# create new columns (Gender & Birth Year ) for w_bike_share dataframe
w_bike_share['Gender'] = 'na'
w_bike_share['Birth Year'] = 'na'
w_bike_share['City'] = 'Washington'
w_bike_share.head(1)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,City
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,na,na,Washington

In [24]:
frames = [c_bike_share, nyc_bike_share, w_bike_share]
master_bike_share = pd.concat(frames)
master_bike_share.shape

(900000, 10)

In [25]:
master_bike_share.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,City
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321.0,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,Chicago
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610.0,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,Chicago
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416.0,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,Chicago
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350.0,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,Chicago
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534.0,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,Chicago

In [26]:
# confirm population of crrect values in City column
master_bike_share['City'].value_counts()

Washington       300000
Chicago          300000
New York City    300000
Name: City, dtype: int64

In [32]:
master_bike_share.to_csv('/Users/michaelmohle/Desktop/master_bike_share', index = False)